body {
    background-color: ghostwhite;
}


header {
    background-color: #e8e8e8;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 30px;
}


.container {
    width: 960px;
    margin: 0 auto;
    background-color: ghostwhite;
}


#logo {
    margin-bottom: 20px;
    
}


.nav_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav_menu li {
    min-width: 8em;
    float: left;
    margin-right: 0.5em;
    margin-left: 10px;
    text-align: center;
}



.nav_menu li a:link,

.nav_menu li a:visited {
    background-color: aqua;
    display: block;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);
}



.nav_menu a {
    display: block;
    width: 80px;
}


.clear {
    clear: both;
}


/*#mainBody {
    background-color: grey;
}*/


#welcomeDiv {
    background-color: #e8e8e8;
    float: left;
    width: 70%;
    margin-right: 20px;
    padding: 15px;
    margin-left: 10px;
    box-shadow: 10px 10px 5px #888888;
}


#NewsLetters {
    background-color: #e8e8e8;
    float: left;
    padding: 15px;
    width: 20%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #888888;
}


#LeftDiv {
    background-color: #e8e8e8;
    float: left;
    width: 40%;
    height: 600px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
}


#LeftDiv1 {
    background-color: #e8e8e8;
    float: left;
    width: 40%;
    height: 300px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
}

#LeftDiv2 {
    background-color: #e8e8e8;
    float: center;
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
}


#RightDiv {
    background-color: #e8e8e8;
    float: right;
    width: 40%;
    height: 600px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
}


#RightDiv1 {
    background-color: #e8e8e8;
    float: right;
    width: 40%;
    height: 300px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
}


#LeftDiv img{max-hight:60%; max-width:60%; float:right;}
#RightDiv img{max-hight:60%; max-width:60%; float:right;}
p{font-family:"Time New Roman",Georgia,serif; font-family:Arnold boeckline,fantasy;}